build/
obj-*/
debian/.debhelper/
debian/files
debian/*.substvars
debian/*.debhelper.log
debian/debhelper-build-stamp
debian/scx-switcher/
*.swp
*.swo
*~
.DS_Store
*.deb
*.buildinfo
*.changes
*.dsc
*.tar.xz
*.tar.gz

